@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: local('../fonts/Futura PT Heavy'), local('FuturaPT-Heavy'),
        url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: local('../fonts/Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl-500.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'GillSans-Bold';
    src: url('../fonts/GillSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GillSans-Light';
    src: url('../fonts/GillSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

*{
	box-sizing: border-box;
}

.one-block{
	background: url('../img/one-block--bg.jpg') center center no-repeat;
	background-size: cover;
	overflow: hidden;
}
.one-block--wrapper,
.block8--wrapper{
	width: 1700px;
	margin: 0 auto;
}
.one-block--wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}
.one-block__text {
    flex-basis: 60%;
    height: 100%;
    display: flex;
    flex-flow: column;
    padding-top: 70px;
}
.one-block__text--date{
  font-size: 30px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  line-height: 1;
  text-align: left;
  margin: 0;
}
.one-block__text--date-span{
	font-weight: 900;
	font-size: 40px;
}
.one-block__text--h1{
  font-size: 60px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  font-weight: 700;
  line-height: 1.15;
  text-align: left;
  margin-top: 220px;
	margin-bottom: 25px;
}
.one-block__text--p{
  font-size: 41px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  line-height: 1.22;
  text-align: left;
  margin: 0;
}
.one-block__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin-top: 80px;
}
.one-block--reg-btn{
  font-size: 20px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  /*line-height: 1;*/
  text-align: center;
    /*width: 50%;*/
    background: #e26535;
    border-radius: 60px;
    padding: 20px 70px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 10px #8a3c1e;
}

.one-block__play-btn {
    font-size: 18px;
    font-family: "FuturaPT";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    line-height: 1.667;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}
.one-block__play-btn--play{
	background: #e26535;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.one-block__play-btn--play:after{
    position: absolute;
    content: "";
    background-color: transparent;
    width: 120%;
    height: 120%;
    border: 1px solid #e26535;
    border-radius: 50%;
    top: -10%;
    left: -10%;
    transition: 0.3s;
    box-sizing: border-box;
}
.one-block__play-btn--play:hover:after{
	width: 90%;
	height: 90%;
	top: 5%;
    left: 5%;
}
.one-block__play-btn--play-svg{
	fill: #fff;
    height: 40px;
}
.text__author {
    display: flex;	
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 150px;
}
.author__desc {
    flex-basis: 15%;
}
.author__desc--p{
  font-size: 30px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  line-height: 2;
  text-align: left;
  margin-top: 0;
  align-self: flex-start;
}
.author__name--h2{
	font-size: 30px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  line-height: 2;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.author__name--h4{
  font-size: 25px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  line-height: 1.6;
  text-align: left;
  font-weight: 400;
  margin-top: 10px;
}


.one-block__women{
	flex-basis: 40%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	align-self: flex-end;
	position: relative;

}
.one-block__women--img{
	position: relative;
		
}
.one-block__women:before{
	    content: "";
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #fff;
    top: 120px;
    left: -50px;
    position: absolute;
}
/*_________Блок 2________________*/
.block2--wrapper{
	width: 1700px;
	margin: 0 auto;
}
.block2__header{
	width: 60%;
	margin-left: auto;
}
.block2__header--h2{
  font-size: 45px;
  font-family: "FuturaPT";
  font-weight: 400;
  color: rgb( 51, 51, 51 );
  text-transform: uppercase;
  line-height: 1.643;
  text-align: left;
  padding: 0 20px;
  
}
.block2__header--h2-span {
	font-weight: 700;
}
.block2__cont{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}
.block2__photo{
	flex-basis: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
.block2__photo--img{
	max-width: 60%;
}
.photo__descr{ 
  border-width: 1px;
  border-color: rgb( 64, 0, 60 );
  border-style: solid;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 22.5px 38.971px 50px 13px rgba( 0, 0, 0, 0.5 );
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 70%;

}
.photo__descr--name{
  font-size: 30px;
  font-family: "MuseoSansCyrl";
  color: rgb( 64, 0, 60 );
  text-align: left;
}
.photo__descr--profile{
  font-size: 16px;
  font-family: "MuseoSansCyrl";
  color: rgb( 0, 0, 0 );
  line-height: 1.5;
  text-align: left;
}
.block2__pluses{
	flex-basis: 60%;
	display: flex;
	flex-flow: row wrap;
}
.pluses__one-plus{
	flex-basis: 50%;
	margin: 20px 0;
}
.pluses__one-plus--icon{
	width: 120px;
	position: relative;
}
.one-plus__icon{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}
.pluses__one-plus--descr{
  font-size: 24px;
  font-family: "FuturaPT";
  color: rgb( 51, 51, 51 );
  line-height: 1.499;
  text-align: left;
  padding-right: 20px;
}
/*______Блок 7 */
.block7--wrapper{
	width: 1400px;
	margin:0 auto;
}
.block7__header--h2 {
  font-size: 45px;
  font-family: "FuturaPT";
  font-weight: 400;
  color: rgb( 51, 51, 51 );
  text-transform: uppercase;
  line-height: 1.643;
  text-align: left;
  padding: 0 20px;
  
}
.block7__header--h2-span {
	font-weight: 700;
}
.block7__slide{
	position: relative;
	min-height: 500px;
	overflow: hidden;
	margin-bottom: 20px;
}
.block7__silde-btns{
	    display: flex;
    align-items: center;
    justify-content: center;
}
.slide__one-ex{
	display: flex;
	align-items: flex-start;
	justify-content: center;

    background-color: rgb( 255, 255, 255 );
    padding: 0 20px;
        height: 400px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    transition: 0.3s;
    width: 1400px;


}
.one-ex__with{
	border-style: solid;
    border-width: 13px;
    border-color: rgb( 230, 230, 230 );
    border-top: none;
	border-left: 5px solid #40003c;	
}
.one-ex__without{
  border-width: 1px;
  border-color: rgb( 51, 51, 51 );
  border-style: solid;
	border-right: 5px solid rgb( 64, 0, 60 );


}
.one-ex__with,
.one-ex__without{
	flex-basis: 50%;
	height: inherit;
	position: relative;
}
img.one-ex--img-with {
    position: absolute;
    bottom: -14px;
    height: 250px;
}
img.one-ex--img-without {
        position: absolute;
    bottom: -14px;
    height: 250px;
    right: -1px;
    bottom: 0;	
}

.with__header{
	background: #40003c;
}
.without__header{
  border-bottom: 1px solid rgb( 51, 51, 51 );
}
.with__header,
.without__header{
	padding: 20px 0;
}
.with__header--h5,
.without__header--h5{
	width: 80%;
	margin-left: auto;
  font-size: 20px;
  font-family: "FuturaPT";
  color: rgb( 51, 51, 51 );
  font-weight: bold;
  line-height: 2;
  text-align: left;
  margin-top: 0px;
    margin-bottom: 0px;
        width: 70%;
    margin-left: auto;
    margin-right: 50px;
}
.with__header--h5{
	color: #fff;
}
.without__descr--p1,
.with__descr--p1 {
  font-size: 18px;
  font-family: "FuturaPT";
  color: #bfbfbf;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: 50px;
}
.without__descr--p2,
.with__descr--p2 {
  font-size: 18px;
  font-family: "FuturaPT";
  color: rgb( 51, 51, 51 );
  line-height: 1.5;
  text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: 50px;
}

#with1{
	left: 0;
}
#with2,
#with3,
#with4,
#with5{
	left: 100%; 
}
#with2{
	height: 500px;

}
#with4{
	height: 490px;
}
#with-prev{
	transform: rotate(180deg);
}
/*______________________БЛОК3_____________*/
.block3{
	background: url(../img/block3--bg.png) bottom center no-repeat;
	background-size: initial;
}
.block3--wrapper{
	width: 1700px;
	margin: 0 auto;
}
.block3__header{
	margin-bottom: 130px;
	margin-top: 70px;
}
.block3__header--h2 {
  font-size: 45px;
  font-family: "FuturaPT";
  font-weight: 400;
  color: rgb( 51, 51, 51 );
  text-transform: uppercase;
  line-height: 1.643;
  text-align: left;
  padding: 0 20px;
  
}
.block3__header--h2-span {
	font-weight: 700;
}
.block3__container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.block3__results{
	flex-basis: 70%;
  border-style: solid;
  border-width: 13px;
  border-color: rgb( 230, 230, 230 );
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0.803px 22.986px 40px 0px rgb( 5, 5, 5 );
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
	margin-bottom: 100px;
}
.block3__results::after{
    content: "";
    position: absolute;
    bottom: -13px;
    right: -93px;
    border: 40px solid  rgb( 230, 230, 230 );
    border-top: 40px solid transparent;
    border-right: 40px solid transparent;
}
.block3__results::before{
	content: "";
    position: absolute;
    bottom: 0;
    right: -54px;
    border: 27px solid white;
    border-top: 27px solid transparent;
    z-index: 2;
    border-right: 27px solid transparent;
}
.block3__photo{
	align-self: flex-end;
	position: relative;
    bottom: -4px;
}
.block3__photo--img{
	width: 380px;
}
.results__one-result{
	flex-basis: 45%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	margin: 10px
}
.results__one-result--img{
	width: 90px;
	margin-right: 20px;
}
.results__one-result--p {
  font-size: 18px;
  font-family: "FuturaPT";
  color: rgb( 51, 51, 51 );
  line-height: 1.2;
  text-align: left;
}
.btn-res{
	display: none;
}

/*_________________Блок 4________*/
.block4{
	overflow: hidden;
	margin-bottom: 50px;
}
.block4--wrapper{
	width: 1700px;
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}
.block4__mockup{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-basis: 50%;
}
.block4__mockup--img{
	max-width: 500px;
	position: relative;
    top: -40px;
}
.block4__phone-slide{
	flex-basis: 50%;
	display: flex;
	flex-flow: column;
	align-items: center;
}
.phone-slide__s-cont{
	background: url('../img/block4--bg-phone.png') left center no-repeat;
	background-size: cover;
	    min-width: 100%;
    min-height: 560px;
    right: -100px;
    position: relative;
    margin-top: 40px;
}
.s-cont--view{
	top: 40px;
    left: 80px;
    max-width: 500px;
    position: relative;
    min-height: 450px;
    overflow: hidden;
}
.s-cont__one-slide{
    position: absolute;
    width: 90%;
    left:0;
    transition: 0.3s;
        display: flex;
    flex-flow: column;
    justify-content: space-around;
    min-height: 450px;	
}
.one-slide--head-h4{
	font-size: 25px;
    font-family: "FuturaPT";
    line-height: 1.6;
    text-align: left;
    font-weight: 400;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.one-slide--head-img{
	width: 60px;
	position: relative;
}
.one-slide--head-span{
	margin: 0 20px;
	position: relative;
	width: 60px;
    height: 60px;
    box-sizing: border-box;
}
.one-slide--head-span:before{
    content: "";
    width: 80px;
    height: 80px;
    top: -10px;
    left: -10px;
    background-color: transparent;
    display: block;
    position: absolute;
    border: 1px solid #f56526;
    border-radius: 50%;
    box-sizing: border-box;
}
.one-slide--ul{
	margin: 0;

}
.one-slide--li{
    font-size: 22px;
    font-family: "FuturaPT";
    color: rgb( 51, 51, 51 );
    line-height: 1.2;
    text-align: left;
}
.phone-slide__btns{
	align-self: flex-start;
	padding-left: 100px;
	margin-top: 40px;
}
.phone-slide__btns--btn{
	background: transparent;
    border: none;
    margin-left: 40px;
}
.phone-slide__btns--img{
	width: 60px;
}
#skill-prev{
	transform: rotate(180deg);
}
#skill-2,
#skill-3,
#skill-4,
#skill-5{
	left: 550px;
}
/*_________________Блок 5____________*/
.block5{
	background: url('../img/block5--bg.jpg') center center no-repeat;
	background-size: cover;
	overflow: hidden;
}
.block5--wrapper{
	width: 1700px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 80px 0;
}
.block5__planner {
  border-style: solid;
  border-width: 13px;
  border-color: rgb( 230, 230, 230 );
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0.803px 22.986px 40px 0px rgb( 5, 5, 5 );
  padding: 20px;
  flex-basis: 45%;
  position: relative;
}
.block5__planner::after {
    content: "";
    position: absolute;
    border-top: 20px solid transparent;
    border-left: 40px solid rgb( 230, 230, 230 );
    border-bottom: 20px solid transparent;
    top: calc(50% - 40px);
    right: -53px;
}
.block5__planner::before {
    content: "";
    position: absolute;
    border-top: 7px solid transparent;
    border-left: 27px solid #fff;
    border-bottom: 7px solid transparent;
    top: calc(50% - 27px);
    right: -28px;
    z-index: 2;
}


.block5__planner--h5{
  font-size: 35px;
  font-family: "FuturaPT";
  color: rgb( 64, 0, 60 );
  font-weight: 700;
  line-height: 1;
  text-align: left;
}
.block5__planner--p{
  font-size: 22px;
  font-family: "FuturaPT";
  color: #333333;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
}
.block5__short-text{
	/*background: url('../img/block5__photo--bg.png');*/
	flex-basis: 45%;
}

.short-text__photo-el--img{
	position: relative;
    left: -20px;
    max-width: 155%;
}
.short-text__description{
	display: none;
}
/*__________блок 6__________________*/
.block6{
	overflow: hidden;
	padding: 60px 0;
}
.block6--wrapper{
	width: 1400px;
	margin: 0 auto;
}
.block6__cont{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	position: relative;

}
.cont__text-ability{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.text-ability__one-ab{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-around;
	flex-basis: 50%;
}

.cont__photo{
	flex-basis: 40%;
	position: relative;
}
.cont__photo--img{
	position: absolute;
    z-index: 1;
    width: 650px;
    left: -150px;
    top: 0;
}
.one-ab__icon--img{
	width: 70px;
}
.one-ab__descrip{
	flex-basis: 60%;
}
.one-ab__descrip--h5 {
  font-size: 20px;
  font-family: "FuturaPT";
  color: rgb( 51, 51, 51 );
  font-weight: bold;
  line-height: 1;
  text-align: left;
  margin: 20px 0;
}
.one-ab__descrip--p {
  font-size: 20px;
  font-family: "FuturaPT";
  color: rgb( 51, 51, 51 );
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

.block6__header--h2 {
  font-size: 45px;
  font-family: "FuturaPT";
  font-weight: 400;
  color: rgb( 51, 51, 51 );
  text-transform: uppercase;
  line-height: 1.643;
  text-align: left;
  padding: 0 20px;
  
}
.block6__header--h2-span {
	font-weight: 700;
}
.cont__text-ability{
  border-style: solid;
  border-width: 13px;
  border-color: rgb( 230, 230, 230 );
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0.803px 22.986px 40px 0px rgb( 5, 5, 5 );
  padding: 20px;
  flex-basis: 60%;
  z-index: 2;
  position: relative;
}
.cont__text-ability:after{
    content: "";
    position: absolute;
    border-top: 40px solid transparent;
    border-right: 80px solid rgb( 230, 230, 230 );
    border-bottom: 40px solid transparent;
    top: calc(50% - 80px);
    left: -80px;
}	
.cont__text-ability:before{
	content: "";
    position: absolute;
    border-top: 27px solid transparent;
    border-right: 67px solid #fff;
    border-bottom: 27px solid transparent;
    top: calc(50% - 67px);
    left: -67px;
    z-index: 2;
}
/*_________________Блок 8________*/
.block8{
	margin-bottom: 80px;
}
.block8__header--h2 {
  font-size: 45px;
  font-family: "FuturaPT";
  font-weight: 400;
  color: rgb( 51, 51, 51 );
  text-transform: uppercase;
  line-height: 1.643;
  text-align: left;
  padding: 0 20px;
  
}
.block8__header--h2-span {
	font-weight: 700;
}
.one-price--silver{
  border-width: 1px;
  border-color: rgb( 159, 194, 237 );
  border-style: solid;
}
.one-price--gold{
  border-width: 1px;
  border-color: rgb( 159, 194, 237 );
  border-style: solid;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.14);

}
.one-price--diamond{
  border-width: 1px;
  border-color: rgb( 159, 194, 237 );
  border-style: solid;
}
.one-price__header--silver{
	background-color: #f45712;
}
.one-price__header--gold{
	background-color: #40003c;
}
.one-price__header--diamond{
	background-color: #953409;
}
.block8__prices{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
}
.prices__one-price{
	flex-basis: 30%;
}
.one-price__header--h3{
  font-size: 45px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.643;
  text-align: left;
  
  
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
.one-price__list--ul {
	/*list-style-image: url(../img/idea.svg);*/
	list-style: none;
	/*list-style: url(../img/idea.svg) outside;*/
	padding: 0;
	margin: 0;
	padding-left: 30px;
    padding-top: 70px;
}
.one-price__list--li {
  font-size: 18px;
  font-family: "MuseoSansCyrl";
  font-weight: 700;
  color: rgb( 51, 51, 51 );
  line-height: 2;
  text-align: left;
  
  
	position: relative;
	padding-left: 30px;
	margin: 10px 0;
  /*display: flex;*/
  /*align-items: center;*/

}
.one-price__list--li:before {
	content: "";
	background: url(../img/idea.svg) center center no-repeat;
	background-size: cover;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 10px;
	position: absolute;
	top: 0;
	left: 0;
}
.one-price__money{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.one-price__money--old {
  font-size: 30px;
  font-family: "Gilroy-ExtraBold";
  color: rgb( 110, 59, 40 );
  font-weight: bold;
  line-height: 1.273;
  text-align: left; 	
  position: relative;
  margin: 0;

}
.one-price__money--old:after {
    content: "";
    width: 110%;
    position: absolute;
    height: 2px;
    background: rgb( 110, 59, 40 );
    display: block;
    top: 50%;
    left: -10%;
    transform: rotate(-13deg);
}
.one-price__money--now {
  font-size: 55px;
  font-family: "Gilroy-ExtraBold";
  color: rgb( 149, 52, 9 );
  font-weight: bold;
  line-height: 1.273;
  text-align: right;
  }

.one-price__buy{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
}
.one-price__buy--btn {
  font-size: 20px;
  font-family: "Montserrat";
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  line-height: 2.5;
  text-align: center;
  
  
  box-shadow: 0px 10px #8a3c1e, 0px 10px 20px 0px rgb( 5, 5, 5 );
	border-radius: 40px;
    border: none;
    padding: 5px 30px;
    box-sizing: border-box;
    width: 50%;
    background: #f45712;
}

/*__________________Блок 9____________________________*/
.block9{
	background: url('../img/block9--bg.jpg');
	background-size: cover;
	overflow: hidden;
}
.block9--wrapper{
	width: 1700px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
}
.block9__text-who,
.block9__trainer{
	flex-basis: 50%;
	width: 50%;
}
.text-who__biography {
    background: #fff;
    padding: 40px;
  border-width: 1px;
  border-color: rgb( 217, 70, 70 );
  border-style: solid;
  border-style: solid;
  border-width: 13px;
  border-color: rgb( 230, 230, 230 );
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0.803px 22.986px 40px 0px rgb( 5, 5, 5 );
	position: relative;
}
.text-who__biography:before {
    content: "";
    border: 27px solid transparent;
    border-bottom: 27px solid #fff;
    border-left: 27px solid #fff;
    position: absolute;
    bottom: 0px;
    right: -54px;
    z-index: 2;
}
.text-who__biography:after {
    content: "";
    border: 40px solid transparent;
    border-bottom: 40px solid rgb( 230, 230, 230 );
    border-left: 40px solid rgb( 230, 230, 230 );
    position: absolute;
    bottom: -13px;
    right: -80px;
}
.text-who__header--h2{
  font-size: 40px;
  font-family: "GillSans-Light";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  font-weight: 300;
  line-height: 2.222;
  text-align: left;
  
  
  margin: 30px 0;
}
.text-who__header--h2-span{
  font-family: "GillSans-Bold";
  font-weight: 700;

}
.text-who__biography--ul{
	padding: 0;
    list-style: none;
    margin: 0;
}
.text-who__biography--li{
    font-size: 22px;
    font-family: "MuseoSansCyrl";
    color: rgb( 0, 0, 0 );
    line-height: 1.4;
    text-align: left;

    padding-left: 20px;
    position: relative;
    margin: 10px 0;
}
.text-who__biography--li:first-child{
	margin-top: 0;
}
.text-who__biography--li:last-child{
	margin-bottom: 0;
}
.text-who__biography--li:before{
	content: "";
	position: absolute;
	top: 10px;
	left: 0;

	width: 10px;
	height: 10px;
	background: #d94646;
	border-radius: 50%;
}
.trainer__header{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
.trainer__header--h3{
  font-size: 50.282px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  line-height: 1.471;
  text-align: left;
	margin:0;
	margin-top: 30px;
}
.trainer__header--p{
  font-size: 23px;
  font-family: "FuturaPT";
  color: rgb( 255, 255, 255 );
  text-align: left;
  margin: 0;
}
.trainer__photo{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 30px;
}
.trainer__photo::after {
    content: "";
    position: absolute;
    bottom: -110px;
    left: 90px;
    background: #fff;
    width: 700px;
    height: 700px;
    border-radius: 50%;
}
.trainer__photo::before {
    content: "";
    position: absolute;
    bottom: -135px;
    left: 65px;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #fff;
    width: 750px;
    height: 750px;
    border-radius: 50%;
}
.trainer__photo--img{
	position: relative;
	z-index: 2;
	width: 65%;
}
/*________________Блок 10 ____________*/
.block10{
	margin-top: 40px;
	margin-bottom: 40px;
}
.block10--wrapper{
	width: 1700px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.block10__arrow{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 15%;
}
.block10__arrow--btn{
	border: 1px solid rgb( 64, 0, 60 );
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}
.block10__arrow--img{
	width: 30px;
}
.block10__arrow--disabled{
	opacity: 0.4;
}

.block10__arrow--prev{
	transform: rotate(-180deg);
}
.block10__slider-con{
/*	flex-basis: 70%;

	min-height: 400px;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	max-width: 650px;
	margin: 0 auto; */
	flex-basis: 70%;
    min-height: 770px;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}
.slider-con__one-el{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;

}
/*#block1{
	top: 0;
	left: 0;
}
#block2{
	top: 0;
	left: 400px;
}
#block3{
	top: 0;
	left: 800px;
}
#block4{
	top: 0;
	left: 800px;
}*/
#block9{
	top: 0;
	left: 0;
}
#block10{
	top: 0;
	left: 400px;
}

#block1,
#block2,
#block3,
#block4,
#block5,
#block6,
#block7,
#block8{
    top: 0;
    left: -400px;
}
#block11,
#block12,
#block13,
#block14,
#block15,
#block16,
#block17,
#block18,
#block19,
#block20{
	top: 0;
	left: 800px;
}
.one-el--img{
	max-height: 700px;
	object-fit: cover;
}
.show-m{
	display: none;
}
.hide-m{
display: block
}
/*__________blockm___________*/
.blockm--wrapper{
	width: 1400px;
	margin: 0 auto;
}
.blockm__header--h2{
  font-size: 45px;
  font-family: "FuturaPT";
  font-weight: 400;
  color: rgb( 51, 51, 51 );
  text-transform: uppercase;
  line-height: 1.643;
  text-align: left;
  padding: 0 20px;
  
}
.blockm__header--h2-span {
	font-weight: 700;
}
.blokcm__list{
	display: flex;
	flex-flow: row nowrap;

  border-style: solid;
  border-width: 13px;
  border-color: rgb( 230, 230, 230 );
  background-color: rgb( 255, 255, 255 );
	
	padding: 30px;
	position: relative;
}
.blokcm__list:after{
    content: "";
    position: absolute;
    border-top: 40px solid transparent;
    border-right: 80px solid rgb( 230, 230, 230 );
    border-bottom: 40px solid transparent;
    top: calc(50% - 80px);
    left: -80px;
}	
.blokcm__list:before{
	content: "";
    position: absolute;
    border-top: 27px solid transparent;
    border-right: 67px solid #fff;
    border-bottom: 27px solid transparent;
    top: calc(50% - 67px);
    left: -67px;
    z-index: 2;
}
.list__one-module{
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: space-around;
  flex-basis: 50%;
}
.list__one-module--p{
	color: #e26535;
  font-size: 18px;
  font-family: "FuturaPT";
 
  line-height: 1.5;
  text-align: left;
  font-weight: 700;
  margin: 0;
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.list__one-module--span{
	 color: rgb( 83, 83, 83 );
  font-weight: 400;
    flex-basis: 50%;
    margin-left: 10px;
    line-height: 1.4;
}
/*_____________footer____________*/
.footer{
	background-color: #40003c;
}
.footer--wrapper{
	width: 1400px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 80px 0px;
}
.footer__name,
.footer__copy,
.footer__link {
	margin: 20px 0;
}
.footer__name{
	width: 20%;
}
.footer__copy,
.footer__link {
  font-size: 17px;
  font-family: "MuseoSansCyrl";
  color: rgb( 255, 255, 255 );
  line-height: 1.765;
  text-align: left;
}

/*____________11______________*/
.block11{
	padding: 60px 0;
}
.block11--wrapper{
	width: 1400px;
	margin: 0 auto;
}
.block11__photos{	
	width: 100%;
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: space-around;*/
	position: relative;
	min-height: 300px;
	overflow: hidden;
}
.block11__photos--img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	top: 0;
	transition: 0.3s;
}
#ph1{
	left: 0;
}
#ph2{
	left: 550px;
}
#ph3{
	left: 1100px;
}
#ph4,
#ph5,
#ph6,
#ph7,
#ph8,
#ph9,
#ph10,
#ph11,
#ph12,
#ph13,
#ph14,
#ph15,
#ph16,
#ph17,
#ph18,
#ph19,
#ph20,
#ph21{
	left: 1400px;
}
/*____________Медиа под разные разрешения______________*/

@media (min-width: 1440px){

	.one-block--wrapper,
	.block2--wrapper,
	.block3--wrapper,
	/*.block4--wrapper,*/
	.block9--wrapper,
	.block5--wrapper,
	.block8--wrapper,
	.block10--wrapper{
		width: 1400px;
	}
	.one-block__text{
		padding: 20px;
	}
	h1.one-block__text--h1 {
	    font-size: 40px;
	    margin-top: 200px;
	}
	p.one-block__text--p {
    	font-size: 25px;
	}
	button.one-block--reg-btn {
    	padding: 10px 20px;
	}
	span.one-block__play-btn {
	    width: auto;
	}
	button.one-block__play-btn--play {
	    height: 70px;
	    width: 70px;
	    margin-right: 20px;
	}
	img.one-block__women--img {
	    width: 120%;
	}
	.one-block__women:before {
	    width: 1000px;
	    height: 1000px;
	    top: 121px;
	    left: -141px;
	}
	.one-price__list--li{
		font-size: 16px;
	}
	.one-price__money--now{
		font-size: 45px;
	}
	.one-price__money--old{
		font-size: 25px;
	}
	.text-who__header--h2 {
	    font-size: 35px;
	}
	li.text-who__biography--li {
	    font-size: 17px;
	}
	h3.trainer__header--h3 {
	    font-size: 35px;
	}
	p.trainer__header--p {
	    font-size: 20px;
	}
	.trainer__photo::after {
	    bottom: -112px;
	    left: 66px;
	    width: 600px;
	    height: 600px;
	}
	.trainer__photo::before {

	    bottom: -140px;
	    left: 42px;
	    width: 650px;
	    height: 650px;
	}
		/*_____block2________*/
	.photo__descr--name{
		margin: 15px 0;
		width: 60%;
    	line-height: 1.4;	
	}
	.photo__descr--profile{
		font-size: 14px;
		line-height: 1.5;
		width: 60%;
		margin-top: 0;
	}
	.pluses__one-plus--descr{
		font-size: 18px;
	}
	.pluses__one-plus--icon{
		width: 95px;
	}

}
@media (min-width: 1024px) and (max-width: 1440px){

	.one-block--wrapper,
	.block2--wrapper,
	.block3--wrapper,
	.block4--wrapper,
	.block5--wrapper,
	.block6--wrapper,
	.blockm--wrapper,
	.block9--wrapper,
	.block8--wrapper,
	.block7--wrapper,
	.block10--wrapper,
	.footer--wrapper,
	.block11--wrapper{
		width: 1020px;
	}
.one-block__text{
		padding: 20px;
	}
	h1.one-block__text--h1 {
	    font-size: 30px;
	    margin-top: 70px;
	}
	.one-block__text--date,
	.one-block__text--date-span{
		font-size: 25px;
	}
	p.one-block__text--p {
    	font-size: 20px;
	}
	.one-block__btns {
        margin-top: 60px;
    }
	button.one-block--reg-btn {
    	padding: 10px 20px;
	}
	span.one-block__play-btn {
	    width: auto;
	}
	button.one-block__play-btn--play {
	    height: 70px;
	    width: 70px;
	    margin-right: 20px;
	}
	img.one-block__women--img {
	    width: 130%;
	}
	.one-block__women:before {
	    width: 900px;
	    height: 900px;
	    top: 58px;
	    left: -141px;
	}
	.one-price__list--ul{
		padding: 10px;
	}
	.one-price__list--li{
		font-size: 16px;
	}
	.one-price__money--now{
		font-size: 35px;
	}
	.one-price__money--old{
		font-size: 20px;
	}
	.text-who__header--h2 {
	    font-size: 28px;
	}
	.text-who__biography{
		padding: 10px;
	}
	li.text-who__biography--li {
	    font-size: 14px;
	}
	h3.trainer__header--h3 {
	    font-size: 28px;
	}
	p.trainer__header--p {
	    font-size: 20px;
	}
	.trainer__photo::after {
		bottom: -104px;
		    left: 83px;
		    width: 400px;
		    height: 400px;
	}
	.trainer__photo::before {
	    bottom: -130px;
	    left: 58px;
	    width: 450px;
	    height: 450px;
	}
	.one-el--img {
	    max-height: 400px;
	}
			/*_____block2________*/
	.photo__descr--name{
		font-size: 22px;
	}
	.photo__descr--name{
		margin: 15px 0;
		width: 60%;
    	line-height: 1.4;	
	}
	.photo__descr--profile{
		font-size: 14px;
		line-height: 1.5;
		width: 60%;
		margin-top: 0;
	}
	.pluses__one-plus--descr{
		font-size: 18px;
	}
	.pluses__one-plus--icon{
		width: 95px;
	}
	.block3__header{
		margin-bottom: 0;
	}
	.block3__photo--img{
		width: 300px;
		position: relative;
		z-index: 2;
	}
	.results__one-result--img {
	    width: 65px;
	}
	.block3__results{
		padding: 5px;
	}
	.results__one-result{
		margin: 0;
	}
		/*_________________блок 4_______*/

	.phone-slide__s-cont{
		min-width: 150%;
	}
	.s-cont--view{
		max-width: 460px;
	}
	/*___________5__________*/
	.block5__planner--p{
		font-size: 16px;
	}
	.short-text__photo-el--img{
		left: 50px;
	}
	/*____________6_________*/
	.one-ab__icon--img {
	    width: 50px;
	}
	.one-ab__descrip--h5{
		margin: 10px 0;
	}
	.one-ab__descrip--h5{
		font-size: 20px;
	}
	.one-ab__descrip--p{
		margin: 5px 0;
		font-size: 16px;
	}
	.cont__photo--img {
	    width: 520px;
	    left: -100px;
	}
	/*____11_________*/
	.block11__photos--img{
		width: 250px;
		height: 250px;
		}
		/*______7_____*/
		.slide__one-ex{
			width: 1020px;
		}
		.with__header--h5, 
		.without__header--h5,
		.without__descr--p1, 
		.with__descr--p1,
		.without__descr--p2, 
		.with__descr--p2{
			margin-right: 10px;
			width: 80%;
		}
		.with__descr--p1,
		.without__descr--p2, 
		.with__descr--p2{
			font-size: 16px;
		}
		img.one-ex--img-with,
		img.one-ex--img-without{
			height: 180px;
		}
		#ph1{
			left: 0;
		}
		#ph2{
			left: 385px;
		}
		#ph3{
			left: 770px;
		}
		#ph4,
		#ph5{
			left: 1400px;
		}
		.one-el--img {
    max-height: 700px;
}
}
@media (min-width: 769px) and (max-width: 1024px){

	.one-block--wrapper,
	.block2--wrapper,
	.block3--wrapper,
	.block4--wrapper,
	.block5--wrapper,
	.block6--wrapper,
	.blockm--wrapper,
	.block9--wrapper,
	.block8--wrapper,
	.block7--wrapper,
	.block10--wrapper,
	.footer--wrapper,
	.block11--wrapper{
		width: 760px;
	}
	.one-block__text{
		padding: 20px;
	}
	h1.one-block__text--h1 {
	    font-size: 30px;
	    margin-top: 70px;
	}
	.one-block__text--date,
	.one-block__text--date-span{
		font-size: 25px;
	}
	p.one-block__text--p {
    	font-size: 20px;
	}
	.one-block__btns {
        margin-top: 60px;
    }
	button.one-block--reg-btn {
    	padding: 10px 20px;
	}
	span.one-block__play-btn {
	    width: auto;
	}
	button.one-block__play-btn--play {
	    height: 70px;
	    width: 70px;
	    margin-right: 20px;
	}
	img.one-block__women--img {
	    width: 120%;
	}
	.one-block__women:before {
	    width: 800px;
	    height: 800px;
	    top: -65px;
	    left: -70px;
	}
	.block2__header{
		width: 100%;
	}
	.photo__descr--name{
		font-size: 20px;
		margin: 10px 0;
	}
	.pluses__one-plus--descr{
		font-size: 16px;
	}
	.photo__descr--profile{
	    padding: 0 20px;
    	margin: 10px 0;
	}
	.pluses__one-plus--icon{
		width: 90px;
	}
	.block3__header{
		margin: 20px 0;
	}
	.block3__header--h2{
		margin: 0;
		font-size: 35px;
	}
	.block3__container{
		flex-flow: column;
	}
	.block3__results{
		box-shadow: none;
	}
	.block3__results::before,
	.block3__results::after{
		display: none;
	}
	.block3__photo{
		align-self: center;
	}
	.block3__photo--img{
		width: 330px;
	}
	.block4__mockup{
		display: none;
	}
	.block4__phone-slide{
		flex-basis: 100%;
	}
	.block5--wrapper{
		flex-flow: column;
	}
	.block5__planner:after,
	.block5__planner:before{
		display: none;
	}
	.block5__short-text{
		margin-top: 40px;
	}
	.short-text__photo-el--img{
		left: 0;
	}
	.block6{
		padding: 0;
	}
	.block6__cont{
		flex-flow: column;
	}
	.cont__text-ability{
		box-shadow: none;
	}
	.cont__text-ability:after,
	.cont__text-ability:before{
		display: none;
	}
	.cont__photo{
		display: none;
	}
	.one-ex__with, 
	.one-ex__without{
		min-height: 700px;

	}
	.without__descr--p1, .with__descr--p1,
	.without__descr--p2, .with__descr--p2{
		font-size: 16px;
	}
	.slide__one-ex{
		width: 760px;
		min-height: 700px;
	}
	img.one-ex--img-with,
	img.one-ex--img-without{
		height: 200px;
	}
	.phone-slide__btns--btn{
		margin: 0;
	}
	.blokcm__list:after,
	.blokcm__list:before{
		display: none;
	}
	.prices__one-price{
		flex-basis: 45%;
	}
	.prices__one-price:last-child{
		margin-top: 40px;
	}
	.block7__slide{
		min-height: 700px;
	}
	.block9__trainer{
		align-self: flex-end;
	}
	.text-who__biography{
		box-shadow: none;
	}
	.text-who__biography:after,
	.text-who__biography:before{
		display: none;
	}
	.block9--wrapper{
		flex-flow: column;
	}
	.block9__text-who,
	.block9__trainer{
		flex-basis: 100%;
		width: 100%;
	}
	.trainer__photo--img{
		width: 35%;
	}
	.trainer__photo::after{
		left: 150px;
		bottom: -104px;
		width: 400px;
		height: 400px;
	}
	.trainer__photo::before{
		left: 125px;
		bottom: -130px;
	    width: 450px;
	    height: 450px;

	}
	.author__name--h4{}
	.one-price__list--ul{
		padding: 10px;
	}
	.one-price__list--li{
		font-size: 16px;
	}
	.one-price__money--now{
		font-size: 35px;
	}
	.one-price__money--old{
		font-size: 20px;
	}
	.text-who__header--h2 {
	    font-size: 28px;
	}
	.text-who__biography{
		padding: 10px;
	}
	li.text-who__biography--li {
	    font-size: 14px;
	}
	h3.trainer__header--h3 {
	    font-size: 28px;
	}
	p.trainer__header--p {
	    font-size: 20px;
	}
	.trainer__photo::after {
		
	}
	.trainer__photo::before {
	    
	}
	.one-el--img {
	    max-height: 600px;
	}
	#ph1{
		left: 0;
	}
	#ph2{
		left: 460px;
	}
	#ph3{
		left: 770px;
	}
	#ph4,
	#ph5{
		left: 1400px;
	}

}
@media (max-width: 768px){
	.hide-m{
		display: none!important;
	}
	.show-m{
		display: block;
	}
	.date-m{
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    width: 100%;
	    padding: 0 20px;
		margin-top: 40px;
	}
	span.one-block__play-btn.show-m{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 49%;
		padding: 10px 0;
	}
	.one-block--wrapper,
	.block2--wrapper,
	.block3--wrapper,
	.block4--wrapper,
	.block5--wrapper,
	.blockm--wrapper,
	.block6--wrapper,
	.block10--wrapper,
	.block9--wrapper,
	.block8--wrapper,
	.block7--wrapper,
	.block11--wrapper,
	.footer--wrapper{
		width: 100%;
	}
	.block5--wrapper{
		padding-bottom: 0;
	}
	.one-block__text{
		flex-basis: 100%;
	}
	.one-block--wrapper{
		flex-flow: column;
	}
	.one-block__text{
		padding: 20px;
	}
	h1.one-block__text--h1 {
	    font-size: 35px;
	    margin-top: 10px;
	}
	.text__author.show-m{
		display: block;
		padding-left: 20px;
		margin-top: 20px;
	}
	.one-block__text--date,
	.one-block__text--date-span{
		font-size: 20px;
	}
	p.one-block__text--p {
    	font-size: 20px;
	}
	.one-block__btns {
        margin-top: 60px;
    }
	button.one-block--reg-btn {
	    font-size: 20px;
	    padding: 5px;
	    width: 80%;
	}
	span.one-block__play-btn {
	    width: auto;
	    font-size: 14px;
	    line-height: 1;
	}
	button.one-block__play-btn--play {
		height: 50px;
	    width: 50px;
	    margin-right: 15px;
	}
	img.one-block__women--img {
	    width: 40%;
	}

	.author__desc--p{
		font-size: 20px;
	}
	.author__name--h2{
		font-size: 35px;
		line-height: 1;
	}
	.author__name--h4{
		font-size: 20px;
	}
	.one-block__women{
		flex-basis: 100%;
	}
	.one-block__women:before {
	    width: 300px;
	    height: 300px;
	    top: 135px;
	    left: 177px;
	}
	.block8__header--h2{
		padding: 0 20px; 
		font-size: 35px;
	}
	.block8__prices{
		padding: 0 20px;
		flex-flow: column;
	}
	.prices__one-price{
		flex-basis: 100%;
		width: 100%;

		margin-bottom: 30px;
	}
	.one-price__list--ul{
		padding: 10px;
	}
	.one-price__list--li{
		font-size: 16px;
	}
	.one-price__list--li:before{
		width: 20px;
    	height: 20px;
	}
	h3.one-price__header--h3 {
	    font-size: 35px;
	}
	.one-price__money--now{
		font-size: 26px;
	}
	.one-price__money--old{
		font-size: 16px;
	}
	.one-price__buy--btn{
		font-size: 16px;
	}
	.block9--wrapper{
		flex-flow: column;
	}
	h2.text-who__header--h2.show-m{
		padding: 0 20px;
		font-size: 30px;
		margin-bottom: 0;
		line-height: 1.2;
	}
	.block9__text-who,
	.block9__trainer{
		width: 100%;
	}
	.block9__text-who{
		order: 2;
	}
	.trainer__header{
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0 20px;
	}
	h3.trainer__header--h3{
		text-align: left;
	}
	.text-who__header--h2 {
	    font-size: 35px;
	}

	.text-who__biography{
		padding: 10px;
		order: 2;
		border-left: none;
		border-right: none;
	}
	li.text-who__biography--li {
	    padding: 0;
		font-size: 20px;
	}
	.text-who__biography--li:before{
		background-color: transparent;
	}
	.text-who__biography:after {
	    content: "";
	    border: 25px solid transparent;
	    border-bottom: 25px solid rgb( 230, 230, 230 );
	    border-left: 25px solid rgb( 230, 230, 230 );
	    right: -50px;
	}
	.text-who__biography:before {
	    content: "";
	    border: 12px solid transparent;
	    border-bottom: 12px solid #fff;
	    border-left: 12px solid #fff;
	    right: -24px;
	}
	h3.trainer__header--h3 {
	    font-size: 35px;
	}
	p.trainer__header--p {
	    font-size: 20px;
	}
	.trainer__photo{
		justify-content: center;
		overflow: hidden;
	}
	.trainer__photo--img{
		width: 75%;
	}

	.trainer__photo::after {
		bottom: -162px;
    	left: -6px;
		width: 400px;
		height: 400px;
	}
	.trainer__photo::before {
	        bottom: -174px;
    left: -29px;
	    width: 450px;
	    height: 450px;
	}
	.block10__slider-con{
		min-height: 550px;
	}
	.one-el--img {
	    max-height: 550px;
		max-width: 100%;
	}
	.text-who__biography--ul{
		list-style: none;
		padding: 0 20px;
	}
	.slider-con__one-el{
		width: 100%;
	}
	.block10__arrow--btn{
		width: 40px;
		height: 40px;
	}
	.block10__arrow--img{
		width: 80%;
	}
	.slider-con__one-el:last-child{
		/*display: none;*/
	}
	/*___________block2*720________*/
	.block2__header{
		width: 100%;
		padding: 0 20px;
	}
	.block2__header--h2{
		font-size: 35px;
		padding: 0;
	}
	.block2__cont{
		flex-flow: column;
	}
	.block2__pluses{
		order: 1;
		flex-flow: column;
		flex-basis: 100%;
		padding: 0 20px;
	}
	.pluses__one-plus{
		margin: 0;
		margin-top: 20px;
	}
	.pluses__one-plus--descr{
		padding: 0;
		font-size: 20px;
		margin: 10px 0;
	}
	.block2__photo{
		flex-basis: 100%;
		order: 2;

	}
	.photo__descr{
		box-shadow: none;
		width: 95%;
	}
	.block2__photo--img{
		max-width: 95%;
	}
	.photo__descr--name{
		margin-bottom: 0;
		font-size: 28px;
	}
	.photo__descr--profile{
		padding: 0 20px;
	}
	/*____Блок 8_________*/
	.block-img{
		display: none;
	}
	.block-img-m{
		margin-top: 30px;
		display: block;
		width: 100%;

	}
	/*__________Блок 3__________*/
	.block3__container{
		flex-flow: column;
		overflow: hidden;
	}
	.block3__header{
		margin: 30px 0;
	}
	.block3__header--h2{
		font-size: 35px;
		margin: 0;
	}
	.block3__results{
		flex-basis: 100%;
		box-shadow: none;
		display: block;
		position: relative;

		width: 100%;
		min-height: 300px;
	}
	.results__one-result{
		width: 80%;
		max-width: 400px;
		position: absolute;
		top: 0;
	    flex-flow: column;
	    align-items: flex-start;
	    transition: 0.3s;
	}
	#res1{
		left: 20px;
	}
	#res2,
	#res3,
	#res4,
	#res5,
	#res6{
		left: 900px;
	}
	.block3__results::after{
		bottom: -112px;
    	right: calc(50% - 100px);
    	border: none;
		border-left: 50px solid transparent;
	    border-right: 50px solid transparent;
	    border-top: 100px solid rgb( 230, 230, 230 );
	}	
	.block3__results::before{
		bottom: -72px;
	    right: calc(50% - 86px);
	    border: none;
	    border-left: 37px solid transparent;
	    border-right: 37px solid transparent;
	    border-top: 74px solid #fff;
	}
	.block3__photo--img{
		width: 350px;
	}
	.block3__photo{
		flex-basis: 100%;
	    align-self: center;
	    justify-content: center;
	}
	.btn-res{    
		display: block;
	    background: transparent;
		position: absolute;
	    border: none;
	    bottom: 0px;
	}
	.btn-res--prev{
		transform: rotate(180deg);
		left: 0;
	}    
	.btn-res--next{
		right: 0;
	}
	.btn-res--img{
		width: 40px;
	}    
	/*______блок 4___________*/
	.block4__mockup{
		display: none;
	}
	.block4__phone-slide{
		flex-basis: 100%;
	}
	.phone-slide__s-cont{
		right: 0;
	}
	.one-slide--li{
		font-size: 18px;
	}
	.phone-slide__btns{
		display: flex;
		align-items: center;
		justify-content: space-around;
		align-self: center;
		padding: 0;
		width: 100%;
	}
	.phone-slide__btns--btn{
		margin: 0;
	}
	.s-cont--view{
		left: 50px;
		min-width: 300px;
		max-width: 80%;
	}
	.one-slide--head-h4{
		font-size: 20px;
	}

	/*______________5______________*/
	.block5{
		background: none;
	}
	.block5--wrapper{
		flex-flow: column;
	}
	.block5__planner{
		flex-basis: 100%;
		box-shadow: none;
	}
	.block5__planner::after{
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 40px solid rgb( 230, 230, 230 );
		top: 100%;
		right: calc(50% - 40px);
	}	
	.block5__planner::before{
		border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-top: 27px solid #fff;
	    top: 100%;
	    right: calc(50% - 27px);

	}
	.short-text__description{
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: space-around;
		margin-top: 40px;
	}
	.short-text__photo-el--img{
		display: none;
	}
	.block5__short-text--h3 {
	  font-size: 35px;
	  font-family: "FuturaPT";
	  font-weight: 400;
	  color: rgb( 51, 51, 51 );
	  text-transform: uppercase;
	  line-height: 1;
	  text-align: left;
	  padding: 0;
	  margin: 0;
	  margin-bottom: 30px;
		padding: 0 20px;

	  
	}
	.block5__short-text--h3-span {
		font-weight: 700;
	}

	.block5__short-text--p{
	  font-size: 16px;
	  font-family: "Pacifico";
	  color: rgb( 51, 51, 51 );
	  line-height: 1.875;
	  text-align: left;
		padding: 0 20px;

	}
	.block5__short-text--img{
		align-self: flex-end;
		margin-top: 30px;
	}
	.block6{
		padding-bottom: 0;
	}
	.cont__photo--img {
		display: none;
	}
	.block6__cont{
		flex-flow: column nowrap;
	}
	.cont__text-ability{
		box-shadow: none;
	    flex-basis: 90%;
	    width: 90%;
	}
	.text-ability__one-ab{
		flex-basis: 100%;
		flex-flow: column;
		align-items: flex-start;
	}
	.cont__text-ability:before {

	    border-top: 127px solid transparent;
	    border-left: 30px solid #fff;
	    border-bottom: 127px solid transparent;
	    border-right: none;
	    top: calc(50% - 30px);
	    left: 100%;
	    z-index: 22;
	}
	.cont__text-ability:after {

	    border-top: 140px solid transparent;
	    border-left: 43px solid rgb( 230, 230, 230 );
	    border-bottom: 140px solid transparent;
	    border-right: none;
	    top: calc(50% - 43px);
	    left: 100%;
	    z-index: 2;
	}
	.list__one-module--p{
		font-size: 20px;
		width: 100%;
		margin: 10px 0;
	}
	.list__one-module--span{
		font-size: 18px;
		flex-basis: 60%;
	}
	.blokcm__list{
		border: none;
		box-shadow: none;
		flex-flow: column;
		padding: 0 20px;
	}
	.blockm__header--h2{
		margin: 30px 0;
    	line-height: 1.2;
	}
	.footer--wrapper{
		flex-flow: column;
	}
	.footer__name{
		width: 60%;
	}
	.block11--wrapper{
		padding: 0 20px;
	}
	.block11__photos{
	}
	#ph1{
		left: calc((100% - 250px) / 2);
	}
	.block11__photos--img{
		width: 250px;
		height: 250px;
	}
	.block7__header--h2{
		margin: 0;
		margin-top: 30px;
    	line-height: 1.2;
    	font-size: 35px;
	}
	.block7__slide{
		min-height: 500px;
	}
	.slide__one-ex{
		flex-flow: column;
		width: 100%;
		height: auto;
	}
	.with__header, 
	.without__header{
		padding: 0;
		background: #fff;
	}
	.without__header {
    	border: none;
	}
	.with__header--h5{
		color: rgb( 51, 51, 51 );
	}
	#with2,
	#with4{
		height: auto;
	}
	.one-ex__with, 
	.one-ex__without{
		height: auto;
		border: none;

		/*padding: 0 20px;*/
	}
	.one-ex__without{
		margin-bottom: 60px;
	}

	.with__header--h5, 
	.without__header--h5,
	.without__descr--p1, 
	.with__descr--p1,
	.without__descr--p2, 
	.with__descr--p2{
			margin: 0px;
			padding: 0;
			width: 90%;
			line-height: 1.3;
	}
	.with__descr--p1{
		margin-bottom: 10px;
	}
	img.one-ex--img-without {
	    height: 170px;
	    right: -20px;
	    top: 0;
	}
	img.one-ex--img-with {
		transform: scale(-1, 1);
	    top: 0;
	    height: 170px;
	    right: -20px;
	}
	#ph2{
		left: 1400px;
	}
	.one-block__women{
		justify-content: space-around;
	}
	.block2__header--h2-span{
		display: block;
	}
	.blockm__header--h2{
		margin-top: 80px;
	}
}
@media (min-width: 500px) and (max-width: 768px) {
	.one-block__women:before{
		left: auto;
	    right: -35%;
	    width: 400px;
	    height: 400px;
	    top: 50px;
	}
}